@media screen and (max-width :1000px){
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
        height: 34px;
    }
    .search{
        justify-content: center;
    }
    .search input{
        margin: 12px 16px;
    }
}